<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.name %>, You Email Is Updated</h2>
    <p>
      your new email is: <%= @user.email %>.<br><br>
    </p>
    <h4>Thanks </h4>
    <h4>Admin Team</h4>
    <h4>Simform Solutions</h4>
    <h4>Ahmedabad, Gujarat</h4>
    <img src="<%= attachments['logo.png'].url %>" class="img-responsive img-thumbnail" height="80px" width="200px"> </td>
  </body>
</html>
