<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Simform Solutions, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Simform Solutions,
      your email is: <%= @user.email %>.<br><br>
      your picture is : <img src="<%= attachments['user.jpeg'].url %>" class="img-responsive img-thumbnail" height="150px" width="150px">
    </p>
    <p>Thanks for joining and have a great day!</p>
    <h4>Thanks </h4>
    <h4>Admin Team</h4>
    <h4>Simform Solutions</h4>
    <h4>Ahmedabad, Gujarat</h4>
    <img src="<%= attachments['logo.png'].url %>" class="img-responsive img-thumbnail" height="80px" width="200px"> </td>
  </body>
</html>
