<% if user.errors.any? %>
  <% user.errors.each do |error| %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong> <%= error.full_message %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
